/* 
 * Start of our menu styling: use a "div" block to contain our menu
 * Our list elements inside this div get particular styling
 *
 *
 * Note the use of CSS child selectors in this stylesheet
 * see http://www.w3.org/TR/CSS2/selector.html#child-selectors
 *
 */
 
/* The basic style for the <div> holding the menu */

#mymenu_a
{ 
height:37px; 
display:block; 
padding:0; 
margin:20px auto;  
border:1px solid;  
background:#3e698c;  
}

/* The > here means "a UL which is inside something with an id of "mymenu_a" */ 
#mymenu_a > ul 
{
list-style:inside none; 
padding:0; 
margin:0;
}

/* And this means an <li> which is inside a <ul> which is inside something with an id of "mymenu_a" */
#mymenu_a > ul > li 
{
list-style:inside none; 
padding:0; 
margin:0; 
float:left; 
position:relative;
}

 /* You get the idea: this means the <a> inside a <li> inside a <ul> inside mymenu_a */
/* The text for the links in our menu */
#mymenu_a > ul > li > a
{ 
outline: none;  
display: block;
position:relative; 
padding:12px 20px; 
font:bold 13px/100% Arial, Helvetica, sans-serif; 
text-align:center; 
text-decoration:none; 
} 
 



