/* 
 * Start of our menu styling: use a "div" block to contain our menu
 * Our list elements inside this div get particular styling
 *
 *
 * Note the use of CSS child selectors in this stylesheet
 * see http://www.w3.org/TR/CSS2/selector.html#child-selectors
 *
 */
 
/* The basic style for the <div> holding the menu */
#mymenu_e
{ 
height:37px; 
display:block; 
padding:0; 
margin:20px auto;  
border:1px solid;  
background:#3e698c;
border-radius: 10px;  
}
 
#mymenu_e > ul 
{
list-style:inside none; 
padding:0; 
margin:0;
}
 
#mymenu_e > ul > li 
{
list-style:inside none; 
padding:0; 
margin:0; 
float:left; 
display:block; 
position:relative;
}

/* The text for the links in our menu */
#mymenu_e > ul > li > a
{ 
outline: none;  
display: block;
position:relative; 
padding:12px 20px; 
font:bold 13px/100% Arial, Helvetica, sans-serif; 
text-align:center; 
text-decoration:none; 
text-shadow:1px 1px 0 rgba(0,0,0, 0.4); 
border-right:1px solid #1b313d;    
color: #fff;
} 

#mymenu_e > ul > li > a:hover
{
background:#437593;
} 

#mymenu_e > ul > li:first-child > a
{
border-radius:10px 0 0 10px; 
} 

#mymenu_e > ul > li > a:after
{ 
content:''; 
position:absolute; 
border-right:1px solid; 
border-color:#6696bd;
top:-1px; 
bottom:-1px; 
right:-2px; 
z-index:99; 
} 

/* CHANGE: A block of style for the submenu */
#mymenu_e ul li.submenu:hover > ul
{
display:block;
} 

/* CHANGE: the UL holding the submenu */
#mymenu_e ul li > ul
{ 
display:none; 
width:auto; 
position:absolute; 
top:38px; 
padding:10px 0; 
border-radius:0 0 10px 10px; 
z-index:999; 
} 

/* CHANGE: the menu items in the submenu */
#mymenu_e ul li > ul li
{
display:block; 
list-style:inside none; 
padding:0; 
margin:0; 
position:relative;
} 

/* CHANGE: The submenu menu items and text */
#mymenu_e ul li > ul li a
{ 
outline:none; 
display:block; 
position:relative; 
margin:0; 
padding:8px 20px; 
font:10pt Arial, Helvetica, sans-serif; 
color:#fff; 
text-decoration:none; 
/* text-shadow:1px 1px 0 rgba(0,0,0, 0.5); */
} 

/* CHANGE: the highlight bar for a selected item in the submenu */
#mymenu_e, #mymenu_e > ul > li > ul > li a:hover
{ 
background:#3e698c; 
}





